<div class="container">
  <h2>Manage Courses</h2>
  <div class="row">
    <div class="col-md-3 my-3">
      <label>Select on Course</label>
      <ngx-select-dropdown tabindex="0" (change)="changeCourse($event)" [config]="configSelect" [options]="courseList"
        [multiple]="false" value="0">
      </ngx-select-dropdown>

    </div>
    <hr>

    <div class="col-md-12 mx-auto my-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Why</th>
            <th scope="col">What</th>
            <th scope="col">What Will We Do</th>
            <th scope="col">Project Status</th>
            <th scope="col">Course Id</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let project of projectList">
          <tr>
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td class="column-image"><img [src]="project.image" alt=""></td>
            <td>{{project.why}}</td>
            <td>{{project.what}}</td>
            <td>{{project.whatWillWeDo}}</td>
            <td>{{project.projectStatus}}</td>
            <td>{{project.courseId}}</td>
            <td>
              <a [routerLink]="['/project-details', project.id]" class="btn btn-primary mx-1">Details</a>
              <a [routerLink]="['/project-edit', project.id]" class="btn btn-warning mx-1">Edit</a>
              <a (click)="DeleteProject(project.id)" class="btn btn-danger mx-1">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <a [routerLink]="['/courses']" class="btn btn-primary my-2 mx-2" routerLinkActive="router-link-active">Add Course</a>
                <a [routerLink]="['/project']" class="btn btn-primary my-2 mx-2" routerLinkActive="router-link-active">Add Project</a>
      </div>


    </div>
  </div>
</div>
