<div class="container">
  <h2>Project Details</h2>
  <div class="div">
    <div class="row">
      <div class="col-md-6 m-auto">
        <p>Id: {{id}}</p>
        <p>Name: {{name}}</p>
        <img [src]="image" alt="">
        <p>Why: {{why}}</p>
        <p>What: {{what}}</p>
        <p>What Will We Do: {{whatWillWeDo}}</p>
        <p>Project Status: {{projectStatus}}</p>
        <p>Course Id: {{courseId}}</p>
      </div>
    </div>
            <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn btn-outline-danger my-3 mx-2">Back</a>

  </div>
</div>
